<!-- <h1 class="text-center">{{testVariable}}</h1> -->
<div class="navigation-bar">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary h-100px">
      <div class="container ">
        <div class="d-flex justify-content-center w-100 ">
          <a class="btn btn-primary btn-lg mx-2 fw-semibold btn-primary-hover" routerLink="/appointments">Appointments</a>
          <a class="btn btn-primary btn-lg mx-2 fw-semibold btn-primary-hover" routerLink="/appointments/add">Add Appointments</a>
        </div>
        <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button> -->
      </div>
    </nav>
  </div>
  <router-outlet></router-outlet>